@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebSelling.Models.ChiTietSanPham

@{
    ViewData["Title"] = "UpdateDetail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>UpdateDetail</h1>

<h4>ChiTietSanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="UpdateDetail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaChiTietSp" />
            <div class="form-group">
                <label asp-for="MaSanPham" class="control-label"></label>
                <select asp-for="MaSanPham" class="form-control" asp-items="ViewBag.MaSanPham"></select>
                <span asp-validation-for="MaSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaKichThuoc" class="control-label"></label>
                <select asp-for="MaKichThuoc" class="form-control" asp-items="ViewBag.MaKichThuoc"></select>
                <span asp-validation-for="MaKichThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaMauSac" class="control-label"></label>
                <select asp-for="MaMauSac" class="form-control" asp-items="ViewBag.MaMauSac"></select>
                <span asp-validation-for="MaMauSac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhDaiDien" class="control-label"></label>
                <input asp-for="AnhDaiDien" class="form-control" />
                <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video" class="control-label"></label>
                <input asp-for="Video" class="form-control" />
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiamGia" class="control-label"></label>
                <input asp-for="GiamGia" class="form-control" />
                <span asp-validation-for="GiamGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTon" class="control-label"></label>
                <input asp-for="SoLuongTon" class="form-control" />
                <span asp-validation-for="SoLuongTon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-gradient-secondary btn-fw" asp-action="ChiTietSanPham">Back to List</a>
</div>

