
@{
    ViewData["Title"] = "ProductCategory";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@*  sau nay co nhieu san pham thi su dung phan trang o bai 3 *@
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<DanhMucSanPham>



    @*<div id="slider" class="box">
        <div id="slider-holder">
          <ul>
            <li><a href="#"><img src="../LayoutWebSelling/css/images/slide4.jpg" alt="" /></a></li>
            <li><a href="#"><img src="../LayoutWebSelling/css/images/slide3.jpg" alt="" /></a></li>
            <li><a href="#"><img src="../LayoutWebSelling/css/images/slide3.jpg" alt="" /></a></li>
            <li><a href="#"><img src="../LayoutWebSelling/css/images/slide4.jpg" alt="" /></a></li>
          </ul>
        </div>
        <div id="slider-nav"> <a href="#" class="active">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> </div>
      </div>*@
      <!-- End Content Slider -->
      <!-- Products -->
      <div class="products">
        <div class="cl">&nbsp;</div>
        @foreach(var item in Model ){
            @await Html.PartialAsync("_ProductPartial", item)
        }
        <div class="cl">&nbsp;</div>
      </div>

      <div class="product_pagination">
        @Html.PagedListPager(Model,page => Url.Action("ProductCategory", new {page = page, maLoai = ViewBag.MaLoai }))    
        <div class="cl">&nbsp;</div>
      </div>

    
